.userTable {
  background: var(--white);
  box-shadow: 0px 3px 3px 2px var(--paleblue);
  width: 100%;
  padding: 15px 24px;
  height: auto;
  min-width: 900px;

  .userTableHeader {
    width: 100%;
    text-transform: uppercase;
    column-gap: 0.75rem;

    .title {
      font-size: 0.75rem;
      font-weight: 500;
      padding: 1rem 0;
      align-items: center;
      column-gap: 0.4rem;
    }
  }

  .userTableBody {
    margin-top: 1.2rem;
    width: 100%;
    position: relative;

    .details {
      column-gap: 0.75rem;
      align-items: center;
      padding: 1rem 0 1.2rem;
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid var(--paleblue);
      }
      > div {
        p {
          font-size: 0.8rem;
        }
      }

      .status {
        padding: 5px 15px;
        background: var(--paleblue);
        border-radius: 30px;

        &.Blacklisted {
          color: var(--red);
          background: rgba(228, 3, 59, 0.2);
        }

        &.Active {
          color: var(--green);
          background: rgba(57, 205, 98, 0.2);
        }

        &.Pending {
          color: var(--yellow);
          background:rgba(233, 178, 0, 0.2)
        }
      }

      .detailsButton {
        margin-left: auto;

      }
    }
  }

  .organization,
  .username,
  .phone {
    width: 15%;
    flex: 0 1 15%;
  }

  .email {
    width: 17%;
    flex: 0 1 17%;
  }

  .date {
    width: 20%;
    flex: 0 1 20%;
  }

  .status {
    width: 10%;
    flex: 0 1 10%;
  }
  &.unset {
    all: unset;

    + .paginationContainer {
      display: none;
    }
  }
}
