.userTable {
  background: var(--white);
  box-shadow: 0px 3px 3px 2px var(--paleblue);
  width: 100%;
  overflow-y: scroll;
  padding: 15px 24px;
  height: auto;
  min-width: 900px;

  .userTableHeader {
    width: 100%;
    text-transform: uppercase;
    column-gap: 0.75rem;

    .title {
      font-size: 0.75rem;
      font-weight: 500;
      padding: 1rem 0;
      align-items: center;
      column-gap: 0.4rem;
    }
  }

  .userTableBody {
    margin-top: 1.2rem;
    overflow: scroll;
    width: 100%;

    .details {
      column-gap: 0.75rem;
      align-items: center;
      padding: 1rem 0 1.2rem;
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid var(--paleblue);
      }
      > div {
        p {
          font-size: 0.8rem;
        }
      }

      .status {
        padding: 5px 15px;
        background: var(--paleblue);
        border-radius: 30px;
        width: max-content;
      }

      .detailsButton {
        margin-left: auto;
      }
    }
  }

  .organization,
  .username,
  .phone {
    width: 15%;
    flex: 0 1 15%;
  }

  .email {
    width: 17%;
    flex: 0 1 17%;
  }

  .date {
    width: 20%;
    flex: 0 1 20%;
  }

  .status {
    width: 8%;
    flex: 0 1 8%;
  }
}
