.userOption {
  position: absolute;
  background: var(--white);
  box-shadow: 3px 5px 20px var(--paleblue);
  width: 200px;
  overflow: visible;
  padding: 0.5rem 0;
  border-radius: 8px;
  top: 5px;
  right: -30px;
  z-index: 99;
  > div {
    margin-bottom: 10px;
    padding: 0.55rem 0 0.55rem 2rem;
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
    p {
      cursor: pointer;
      font-weight: 500;
    }

    &:hover {
      background: var(--paleblue);
    }
  }

  &:nth-of-type(1){
    background: blue;
  }
}
