.button{
    all: unset;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.primary {
    background: var(--lightblue);
    color: var(--white);

}

.secondary {
    border: 1px solid var(--lightblue);
    color: var(--lightblue)
}

.secondaryDanger{
    @extend .secondary;
    border-color: var(--red);
    color: var(--red)
}

.secondaryWarning{
    @extend .secondary;
    border-color: var(--yellow);
    color: var(--yellow)
}