.flex {
  display: flex;
}

.flexCenter {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.flexAlignCenter {
  @extend .flex;
  align-items: center;
}

.flexJustifyCenter {
  @extend .flex;
  justify-content: center;
}

.flexBetween {
  @extend .flex;
  justify-content: space-between;
}

.flexStartCenter {
  @extend .flex;
  align-items: center;
}

.flexCol {
  @extend .flex;
  flex-direction: column;
}

.flexColCenter {
  @extend .flexCol;
  justify-content: center;
}

.flexColBetween {
  @extend .flexCol;
  justify-content: space-between;
}
