@mixin lg-screen {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @mixin md-screen {
    @media (max-width:995px) {
      @content;
    }
  }
  @mixin sm-screen {
    @media (max-width:850px) {
      @content;
    }
  }

.App{
    height: 100vh;
}

.brand{
    padding: 0 6rem;
    margin-bottom: 7rem;

    a{
        display: inline-block;
    }

    @include md-screen(){
        padding: 0 3rem;
    }
}

.userLogin {
    gap: 3rem;
    padding: 0 5rem;
    min-width: 320px;
    height: 500px;
    position: relative;

    @include md-screen(){
        padding: 0 1.5rem;
    }
    @include lg-screen(){
        padding: 0 2rem;    
    }

    @include sm-screen(){
        padding: 0;
        overflow-x: scroll;
    }

    .image{
        height: 440px;
        width: 55%;
       

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @include sm-screen(){
            width: 100%;

            img{
                object-fit: cover;
            }
        }
       
    }
    
    .user {
        row-gap: 3rem;
        width: 35%;

        @include sm-screen(){
            position: absolute;
            background: var(--white);
            box-shadow: 1px 2px 10px var(--paleblue);
            padding: 2rem 2rem;
            width: 300px;
        }

        .greeting {
            gap: 0.8rem;
            color: var(--blue);

            h1{
                font-size: 2.5rem;
            }
            span{
                font-size: 1.15rem;
            }
        }

        .userDetailsForm{
            form{
                
                gap: 1.5rem;

                input{
                    all: unset;
                    padding: 1rem 4rem 1rem 1.5rem;
                    border: 1px solid var(--grey);
                    border-radius: 8px;
                }

                .password{
                    position: relative;
                    input{
                        width: 100%;
                    }
                    .passwordVisiblity{
                        all: unset;
                        position: absolute;
                        right: 15px;
                        font-size: 0.85rem;
                        font-weight: 500;
                        color: var(--lightblue);
                    }
                }

                .forgetPassword{
                    color: var(--lightblue);
                    font-weight: 500;
                    font-size: 0.9rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}