.brand{
    padding: 0 9rem;
    height: 100px;
}

.userLogin {
    gap: 3rem;
    padding: 0 5rem;
    height: 500px;

    .image{
        height: 340px;
        width: 55%;
    }
    
    .user {
        row-gap: 3rem;
        width: 35%;

        .greeting {
            gap: 0.8rem;
            color: var(--blue);

            h1{
                font-size: 2.5rem;
            }
            span{
                font-size: 1.15rem;
            }
        }

        .userDetails{
            form{
                
                gap: 1.5rem;

                input{
                    all: unset;
                    padding: 1rem 5rem 1rem 1.5rem;
                    border: 1px solid var(--grey);
                    border-radius: 8px;
                    
                }

                .password{
                    position: relative;
                    input{
                        width: 100%;
                    }
                    .passwordVisiblity{
                        all: unset;
                        position: absolute;
                        right: 15px;
                        font-size: 0.85rem;
                        font-weight: 500;
                        color: var(--lightblue);
                    }
                }

                .forgetPassword{
                    color: var(--lightblue);
                    font-weight: 500;
                    font-size: 0.9rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}