@mixin md-screen {
  @media (max-width: 995px) {
    @content;
  }
}

.sidebar {
  box-shadow: 0px 3px 5px var(--paleblue);
  width: 240px;
  background: var(--white);

  &.scroll-bottom {
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &:after {
      content: "";
      display: block;
      height: 100%;
      visibility: hidden;
    }
  }

  &.scroll-bottom:after {
    visibility: visible;
  }

  .container {
    margin-top: 4rem;
    gap: 2rem;
    width: 100%;
    height: 100%;

    .organizationMenu {
      margin-bottom: 0.5rem;

      .menuItemLink > svg {
        margin-left: 0.5rem;
      }
    }

    .dashboardMenu {
      .menuItemLink {
        display: block;
        width: 100%;
        transition: all 0.3s ease-in-out;
        &:hover,
        .active {
          border-left: 3px solid var(--yellow);
          background: var(--palelightblue);
        }
      }
    }

    .menuItem {
      gap: 0.3rem;

      > p {
        text-transform: uppercase;
        padding-left: 1rem;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.5;
        cursor: default;
      }

      .menuItemLink {
        display: block;
        width: 100%;
        transition: all 0.3s ease-in-out;

        &:hover,
        &.active {
          border-left: 3px solid var(--yellow);
          background: var(--palelightblue);
        }
      }
    }
  }

  .logout{
    border-top: 1px solid var(--paleblue);
    padding-bottom: 2rem;

    span{
      padding-left: 1.2rem;
      margin-top: 2rem;
    }
  }

  @include md-screen() {
    width: 50px;
    transition: all 0.5s ease-out;

    .iconTextMenu {
      p {
        width: 0;
        transition: all 0.5s ease-out;
        overflow: hidden;
      }
    }

    &:hover {
      width: 240px;

      .iconTextMenu p {
        width: auto;
      }
    }
  }

}
