@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
:root {
  --blue: rgba(33, 63, 125, 1);
  --lightblue: rgba(57, 205, 204, 1);
  --grey: rgba(84, 95, 125, 1);
  --red: rgba(228, 3, 59, 1);
  --green: rgba(57, 205, 98, 1);
  --paleblue: rgba(33, 63, 125, 0.1);
  --yellow: rgba(233, 178, 0, 1);
}

.App {
    font-family: 'Work Sans', sans-serif;
}