@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
@import "styles/common";
:root {
  --blue: rgba(33, 63, 125, 1);
  --lightblue: rgba(57, 205, 204, 1);
  --grey: rgba(84, 95, 125, 1);
  --red: rgba(228, 3, 59, 1);
  --green: rgba(57, 205, 98, 1);
  --yellow: rgba(233, 178, 0, 1);
  --white: #fff;
  --paleblue: rgba(33, 63, 125, 0.1);
  --palelightblue: rgba(57, 205, 204, 0.05)
}

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,body {
  overflow: hidden;
  @media (max-width: 850px) {
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

button{
  cursor: pointer;
}

.App {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blue);
}
